:local(.header) {
  ul {
    border-bottom: 1px solid black;
    display: flex;
    list-style-type: none;
    margin-top: 1em;
    padding-left: 0;
  }

  li {
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    font-size: 1.5em;
    margin-right: .1em;
    padding: 0 1em 0 1em;
  }

  a, a:visited {
    color: inherit;
    text-decoration: none;
  }
}

:local(.stories) {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 20% 80%;
  height: 700px;
  width: 100%;

  .title {
    border-bottom: 1px solid black;
    grid-column: 1 / 3;
  }

  .leftColumn {
    border-right: 1px solid black;
    grid-column: 1;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      border: 1px solid black;
      list-style-type: none;
      margin: .2em .5em .2em 0;
      padding: .5em;
    }

    a, a:visited {
      color: inherit;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
  }
    
  .rightColumn {
    grid-column: 2;
    padding-left: 1em;
  }
}