:local(.header) {
  ul {
    border-bottom: 1px solid black;
    list-style-type: none;
    display: flex;
    margin-top: 1em;
    padding-left: 0;
  }

  li {
    font-size: 1.5em;
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    padding: 0 1em 0 1em;
    margin-right: .1em;
  }

  a, a:visited {
    color: inherit;
    text-decoration: none;
  }
}

:local(.stories) {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 20% 80%;
  height: 700px;
  width: 100%;

  .title {
    grid-column: 1 / 3;
    border-bottom: 1px solid black;
  }

  .leftColumn {
    grid-column: 1;
    border-right: 1px solid black;
  }
    
  .rightColumn {
    grid-column: 2;
    padding-left: 1em;
  }
}