:local(.entry) {
  border: 1px solid black;
  margin: 1em;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header h3 {
    margin: .5em;
  }
  
  .header button {
    width: fit-content;
  }
  
  p {
    margin: .5em;
  }
}
