:local(.stories) {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 20% 80%;
  height: 700px;
  width: 100%;

  .title {
    grid-column: 1 / 3;
    border-bottom: 1px solid black;
  }

  .leftColumn {
    grid-column: 1;
    border-right: 1px solid black;
  }
    
  .rightColumn {
    grid-column: 2;
    padding-left: 1em;
  }
}