:local(.header) {
  ul {
    border-bottom: 1px solid black;
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
  }

  a, a:visited {
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    color: inherit;
    font-size: 1.5em;
    margin-right: .1em;
    padding: 0 1em 0 1em;
    text-decoration: none;
  }
}
