:local(.actionContainer) {
  display: grid;
  grid-template-columns: 15% 85%;

  .participant-form {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1em 1em 0 0;
  }

  .participant-form input {
    padding-bottom: .5em;
    margin-bottom: .5em;
  }

  .participants {
    flex-direction: row;
    display: flex;
    width: 100%;
  }

  .participants ul {
    list-style-type: none;
    padding-left: 1em;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}

:local(.participant) {
  display: flex;
  flex-directioN: column;
  margin-bottom: 1em;
  box-shadow: 5px 5px 10px;
  border: 1px solid black;

  h4 {
    font-size: 1.5em;
    margin: 0;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    min-width: 50%;
  }

  table {
    width: 100%;
    padding: 0 1em .5em 1em;
  }

  th {
    border-bottom: 1px solid black;
    text-align: center;
  }

  td {
    text-align: center;
  }
}