:local(.header) {
  ul {
    border-bottom: 1px solid black;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 0;
  }

  li {
    font-size: 1.5em;
    border: 1px solid grey;
    padding: 0 1em 0 1em;
  }

  a, a:visited {
    color: inherit;
    text-decoration: none;
  }
}
